FIVEUnityProject/Assets/Resources/UI/ViewSchema.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ui="UnityEngine.UI">
    <xs:element name="Canvas" type="CanvasType"/>

    <xs:complexType name="CanvasType">
        <xs:sequence>
            <xs:choice maxOccurs="1" minOccurs="0">
                <xs:element type="ResourcesType" name="Resources"/>
            </xs:choice>
            <xs:group ref="PossibleChild"/>
        </xs:sequence>
        <xs:attribute type="xs:string" name="name"/>
    </xs:complexType>


    <xs:attributeGroup name="UIElementAttributes">
        <xs:attribute type="xs:string" name="name" use="optional"/>
        <xs:attribute type="xs:string" name="Prefab" use="optional"/>
        <xs:attribute type="RectTransformType" name="RectTransform" use="optional"/>
    </xs:attributeGroup>

    <xs:group name="PossibleChild">
        <xs:sequence>
            <xs:choice maxOccurs="unbounded" minOccurs="0">
                <xs:element type="PanelType" name="Panel" maxOccurs="unbounded"  minOccurs="0" />
                <xs:element type="ButtonType" name="Button" maxOccurs="unbounded" minOccurs="0" />
                <xs:element type="ScrollRectType" name="ScrollRect" maxOccurs="unbounded" minOccurs="0" />
                <xs:element type="InputFieldType" name="InputField" maxOccurs="unbounded" minOccurs="0" />
                <xs:element type="GameObjectType" name="GameObject" maxOccurs="unbounded" minOccurs="0" />
            </xs:choice>
        </xs:sequence>
    </xs:group>

    <xs:simpleType name="RectTransformType">
        <xs:restriction base="xs:token">
            <xs:pattern value="\{([\w]+\s*\:\s*\(([-+]?[0-9]*\.?[0-9]+([eE][-+]?[0-9]+)?)\s*\,\s*([-+]?[0-9]*\.?[0-9]+([eE][-+]?[0-9]+)?)\s*(,\s*([-+]?[0-9]*\.?[0-9]+([eE][-+]?[0-9]+)?))?\s*\)\;\s*)*\s*\}"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="Vector3Type">
        <xs:restriction base="xs:token">
            <xs:pattern value="\(([-+]?[0-9]*\.?[0-9]+([eE][-+]?[0-9]+)?)\s*\,\s*([-+]?[0-9]*\.?[0-9]+([eE][-+]?[0-9]+)?)\s*,\s*([-+]?[0-9]*\.?[0-9]+([eE][-+]?[0-9]+)?)\s*\)"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="Vector2Type">
        <xs:restriction base="xs:token">
            <xs:pattern value="\(([-+]?[0-9]*\.?[0-9]+([eE][-+]?[0-9]+)?)\s*\,\s*([-+]?[0-9]*\.?[0-9]+([eE][-+]?[0-9]+)?)\s*\)"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="ss"></xs:complexType>

    <xs:simpleType name="BracketedType">
        <xs:restriction base="xs:string">
            <xs:pattern value="\{.*\}"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="ItemType">
        <xs:restriction base="xs:string">
            <xs:pattern value=""></xs:pattern>
        </xs:restriction>
    </xs:simpleType>


    <xs:complexType name="ButtonType">
        <xs:attributeGroup ref="UIElementAttributes"/>
        <xs:attribute type="xs:string" name="Text" use="optional"/>
    </xs:complexType>

    <xs:complexType name="PanelType">
        <xs:group ref="PossibleChild"/>
        <xs:attributeGroup ref="UIElementAttributes"/>
    </xs:complexType>

    <xs:complexType name="ScrollRectType">
        <xs:attributeGroup ref="UIElementAttributes"/>
    </xs:complexType>

    <xs:complexType name="InputFieldType">
        <xs:attributeGroup ref="UIElementAttributes"/>
        <xs:attribute type="xs:string" name="Text" use="optional"/>
    </xs:complexType>

    <xs:complexType name="ImageType">
        <xs:attributeGroup ref="UIElementAttributes"/>
    </xs:complexType>

    <xs:complexType name="ResourcesType">
        <xs:sequence>
            <xs:element type="ButtonType" name="Button"/>
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="TextType">
        <xs:attributeGroup ref="UIElementAttributes"/>
        <xs:attribute type="xs:string" name="Text" use="optional"/>
    </xs:complexType>

    <xs:complexType name="GameObjectType">
        <xs:sequence>
            <xs:choice>
                <xs:element type="TextType" name="Text" minOccurs="0" maxOccurs="unbounded"/>
                <xs:element type="ButtonType" name="Button" maxOccurs="unbounded" minOccurs="0"/>
            </xs:choice>
        </xs:sequence>
        <xs:attribute type="xs:string" name="name" use="optional"/>
        <xs:attribute type="xs:string" name="Prefab" use="optional"/>
    </xs:complexType>
</xs:schema>